<ion-view view-title="About">
  <ion-nav-buttons side="left">
    <button class="button button-clear" ng-click="$ionicGoBack()">
      <i class="icon ion-android-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-list>
      <ion-item class="item-text-wrap" ng-bind-html="aboutContent">
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>