<ion-view view-title="{{module_name}}">
  <ion-content>
    <div class="list">
      <div class="item item-text-wrap" ng-repeat="dt in att track by $index">
        <div class="row no-padding">
          <h2 class="module-week col-75">{{'Week ' + ($index+1)}}</h2>
          <i ng-if="att[$index] == 'N'" class="icon lecture-absent col">Absent</i>
          <i ng-if="att[$index] == 'Y'" class="icon lecture-attend col">Attended</i>
          <i ng-if="att[$index] == 'C'" class="icon lecture-absent col">Cancelled</i>         
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>