<ion-view view-title="{{title}}">
  <ion-content>
    <ion-list>
      <ion-item class="item-image feed-image">
        <img src="img/lsbuLogo.png" />
      </ion-item>
      <ion-item>
        <h2 id="feed-title">{{title}}</h2>
        <span class="feed-author">News by School of Engineering</span>
        <span class="feed-date">{{date}}</span>
        <p id="feed-body" ng-bind-html="body"></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>