 <ion-view view-title="Settings">
   <ion-nav-buttons side="left">
     <button class="button button-clear" ng-click="goHome()">
       <i class="icon ion-android-arrow-back"></i>
       </button>
   </ion-nav-buttons>

    <ion-content>
		<ion-list>
			<label class="item item-icon-left">
				<i class="icon ion-person-stalker"></i>
				Logged in as {{::username}}
			</label>

			<li class="item item-toggle">
				Notifications
				<label class="toggle toggle-balanced">
					<input type="checkbox" ng-checked="$storage.soe_notification_status" ng-click="notificationHandler($event)">
						<div class="track">
							<div class="handle"></div>
						</div>
				</label>
			</li>

			<a class="item item-icon-left" ng-click="openAbout()">
				<i class="icon ion-information-circled"></i>
				About
			</a>

			<a class="item item-icon-left" ng-click="openPrivacyPolicy()">
				<i class="icon ion-locked"></i>
				Privacy Policy
			</a>

			<a class="item item-icon-left" ng-click="openTermsAndConditions()">
				<i class="icon ion-document-text"></i>
				Terms and Conditions
			</a>

      <a class="item item-icon-left" ng-click="openEULA()">
        <i class="icon ion-document-text"></i>
        EULA
      </a>

			<a class="item item-icon-left" ng-click="logoutUser()">
				<i class="icon ion-log-out"></i>
				Logout
			</a>
		</ion-list>
    </ion-content>
  </ion-view>


