<ion-view view-title="Feedback">
  <ion-content>
    <form ng-submit="submit()" class="list list-inset">
        <label class="item item-input text-center" style="height: 8vh; font-size: 1.2rem;">
          To: engcomms@lsbu.ac.uk
        </label>
        <label class="item item-input">
          <input id="feed_subject" type="text" placeholder="Subject" style="height: 8vh; font-size: 1.2rem;">
        </label>
        <label class="item item-input">
        <textarea id="feed_message" rows="5" placeholder="Message" maxlength="1000" style="height: 34vh; font-size: 1.2rem;"></textarea>
      </label>
      <button class="button button-block button-royal">
            Submit
      </button>
    </form>
  </ion-content>
</ion-view>