<ion-view view-title="Feeds">
  <ion-content class="padding">
    <ion-refresher
        pulling-text="Pull to load new feeds..."
        on-refresh="pullToRefresh()"
        spinner="spiral">
    </ion-refresher>

    <!-- Card view of the feeds -->
    <div ng-repeat="feed in DOMFeeds track by $index">
      <!-- if content type == Tweet -->
      <div class="list card"
           ng-if="feed.type == 'Tweet'">
        <div class="item item-avatar">
          <img src="img/lsbu_twitter.jpg">
          <h2>Tweets from @LSBU_ENG</h2>
          <p>{{feed.date}}</p>
        </div>
        <div class="item item-body">
          <!--<img class="full-image" src="delorean.jpg">-->
          <div ng-bind-html="feed.field_text"></div>
        </div>
      </div>
      <!-- if content type == News -->
      <div class="list card"
           ng-if="feed.type == 'News'">
        <div class="item item-divider">
              <a class="royal">Message from the Dean</a>
              <p>{{feed.date}}</p>
        </div>
        <div class="item item-body">
          {{feed.title}}
<!--             <div class="item item-image">
              <img src="img/lsbuLogo.png" />
            </div> -->
          <p ng-bind-html="feed.body"></p>
        </div>
<!--         <div class="item item-divider">
          <p>
            <i class="icon ion-arrow-right-c royal" ng-click="fullView(feed.title, feed.body, feed.date)"></i>
            <a class="royal">Read more</a>
          </p>
        </div> -->
      </div>

      </div>
    </div>
    <!-- End Main grid -->
    <!-- Infinite scroll directive -->
    <ion-infinite-scroll
      ng-if="check()"
      on-infinite="loadInfiniteScroll()"
      distance="10%"
      spinner="spiral">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
