<ion-view view-title="Attendance">
  <ion-content>
      <div class="list card" ng-repeat="att in attendance track by $index" ng-click="fullView(att.moduleName, att.attendance)">
        <div class="item item-name item-remove-animate item-icon-right item-text-wrap">
          <h2>{{att.moduleName}}</h2>
          <p>Time: {{att.time}}</p> 
          <p>Day: {{att.day}}</p>
          <p>Room: {{att.room}}</p>
          <p>Semester: {{att.semester}}</p>
          <i class="icon" style="font-size: 1.6rem;">{{att.attPercentage}} %</i>
        </div>

        <div class="item item-divider">
            <p>
              <i class="icon ion-arrow-right-c royal"></i>
              <a class="royal">More information</a>
            </p>
        </div>
      </div>
  </ion-content>
</ion-view>


