<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-light tabs-royal">

    <!-- Feeds Tab -->
    <ion-tab title="Feeds" icon-off="ion-social-rss" icon-on="ion-social-rss" ng-click="openFeedView()">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>

    <!-- Attendance Tab -->
    <ion-tab title="Attendance" icon-off="ion-calendar" icon-on="ion-calendar" ng-click="openAttendanceView()">
        <ion-nav-view name="tab-attendance"></ion-nav-view>
    </ion-tab>

    <!-- Feedback Tab -->
    <ion-tab title="Send Feedback" icon-off="ion-email" icon-on="ion-email" ng-click="openFeedbackView()">
        <ion-nav-view name="tab-feedback"></ion-nav-view>
    </ion-tab>


</ion-tabs>
