<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->


    <!-- compiled css output -->
    <link href="css/ionic.app.css" rel="stylesheet">

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/plugin/ng-cordova.js"></script>
    <script src="js/plugin/ngStorage.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    
    <script src="js/controller/dash/feedctr.js"></script>
    <script src="js/factory/UIfactory.js"></script>
    <script src="js/factory/UserFactory.js"></script>
    <script src="js/factory/Userinput.js"></script>
    <script src="js/NotificationData.js"></script>
    <script src="js/data.js"></script>
    
    <script src="js/plugin/ng-cordova.js"></script>
    <script src="js/plugin/ngStorage.min.js"></script>
    <script src="js/controller/user/loginctrl.js"></script>
    <script src="js/controller/user/registerctrl.js"></script>
    <script src="js/controller/user/requestreset.js"></script>
    <script src="js/controller/user/resetpassctrl.js"></script>
    <script src="js/controller/user/activateaccountctrl.js"></script>
    <script src="js/controller/dash/attendancectrl.js"></script>
    <script src="js/controller/dash/feedbackctrl.js"></script>
    <script src="js/controller/fullfeedctrl.js"></script>
    <script src="js/controller/mainctrl.js"></script>
    <script src="js/controller/dash/settingsctrl.js"></script>
    <script src="js/Submitform.js"></script>
    <script src="js/controller/dash/termsandconditionsctrl.js"></script>
    <script src="js/controller/dash/aboutctrl.js"></script>
    <script src="js/controller/dash/privacypolicyctrl.js"></script>
    <script src="js/controller/dash/attendanceModulectrl.js"></script>
    <script src="js/controller/dash/eulactrl.js"></script>
    <script src="js/factory/Notificationfactory.js"></script>
    <script src="js/env_var.js"></script>
  </head>
  <body ng-app="soe">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <ion-nav-bar class="bar-royal" ng-controller="mainctrl" hideBackButton="true">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="right">
        <button class="button icon ion-gear-a" ng-click="openSettings()" ng-if="$storage.soe_user_status === 1">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <!--
      The views will be rendered in the <ion-nav-view> directive below
      Templates are in the /templates folder (but you could also
      have templates inline in this html file if you'd like).
    -->
    <ion-nav-view></ion-nav-view>
  </body>
</html>
