/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/
$royal:  #93328e !default; //#886aea;
$assertive: #ffcb00 !default;

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "www/lib/ionic/scss/ionic";


.content {
  top: 90px;
}
.background {
  background-color: #f5f5f5;
}

.login-view{
	background-size: cover;
}

.button{
	background-color: $royal;
	color: white;
}

.module-code{
	color: #888;
	display: block;
}

.lecture-time{
	color: #888;
}

.lecture-attend{
	color: green;
}

.lecture-absent{
	color: red;
}

.lecture-pending{
	color: orange;
}

.feed-image{
	padding: 2vh 1vw 2vh 1vw;
}

#feed-title{
	font-weight: bold;
	text-align: center;
	overflow: visible;
	white-space: normal;
	font-size: 1.4rem;
	text-align: left;
	padding-bottom: 1vh; 
}

.feed-author{
	display: block;
	font-size: 0.8rem;
}

.feed-date{
	display: block;
	font-size: 0.8rem;
}

#feed-body{
	text-align: left;
	padding-top: 4vh;
	overflow: visible;
	white-space: normal;
	font-size: 1rem;
}

.popup-buttons .buttom{
	background-color: $royal;
}

.item-icon-right .icon{
	right: 20px;
	font-size: 60px;
}

.ion-ios-sunny-outline{
	color: green;
}

.ion-ios-rainy-outline{
	color: red;
}

.no-padding{
	padding: 0;
}