<ion-view view-title="Register">
  <ion-content overflow-scroll="false">
    <div class="list list-inset">
      <label class="item item-input">
        <input
            type="text"
            placeholder="Username"
            id="set_name">
      </label>
      <label class="item item-input">
        <input
            type="text"
            placeholder="LSBU Email"
            id="set_email">
      </label>
      <label class="item item-input">
        <input
            type="password"
            placeholder="Password (min 8 chars & 1 num)"
            id="set_pass">
      </label>
      <label class="item item-input">
        <input
            type="password"
            placeholder="Re-type Password"
            id="set_pass2">
      </label>
      <ion-checkbox
          ng-model="isChecked.checkbox">I agree to the Terms and Conditions</ion-checkbox>
      <div class="row">
        <div class="col col-center text-center">
          <a href="#/app/terms"><h5>Terms and Conditions</h5></a>
        </div>
      </div>
      <div class="row">
        <button
            class="button button-calm button-full tabs tabs-icon-top"
            ng-click="registerUser()"
            style="background-color: #93328e">
          <a class="tab-item active" style="display: inline-block;">
            <i class="icon ion-ios-compose-outline tabs-icon-top"></i>
            Register
          </a>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>