<ion-view view-title="Enter your new password">
  <ion-content>
    <div class="list list-inset">
      <label class="item item-input">
        <input
            type="password"
            placeholder="Password"
            id="reset_pass">
      </label>
      <label class="item item-input">
        <input
            type="password"
            placeholder="Re-type Password"
            id="reset_pass2">
      </label>

      <div class="row">
        <button class="button button-calm button-full tabs tabs-icon-top"
                ng-click="resetPassword()"
                style="background-color: #93328e">
          Submit your new password
        </button>
      </div>
  </ion-content>
</ion-view>