<ion-view view-title="Request new password">
  <ion-content overflow-scroll="false">
    <div class="row">
    </div>
    <div class="list list-inset">
      <label class="item item-input">
        <input
            type="text"
            placeholder="LSBU Email"
            id="reset_email">
      </label>
    </div>
    <div class="row">
      <button class="button button-calm button-full tabs tabs-icon-top"
              ng-click="requestReset()"
              style="background-color: #93328e">
        Request new password
      </button>
    </div>
  </ion-content>
</ion-view>