body,
html {
	font-family: "Arial";
}

.profile {
	border-bottom: #eee solid 2px;
	padding-bottom:10px;
}

.content-tabs {
	margin-bottom:20px;
}

.user-name {
	text-transform: capitalize;
}

.content-tab {
	outline:none;
	text-transform: capitalize;
	background:#fff;
	border:none;
	display:inline-block;
	padding:10px;
}

.content-tab:hover {
	border-bottom: #bbbbff 2px solid;
}

.content-tab.selected {
	border-bottom: #5555ff 2px solid;
}

.content-card {
	padding:10px;
	margin:5px;
	border:#eee solid 1px;
}

.start-hidden {
	display:none;
}

.content-container {
	margin-top:10px;
	height:100%;

}
